<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
    <add name="GSB.Properties.Settings.BDDOUIConnectionString" connectionString="Data Source=172.16.0.50;Initial Catalog=BDDOUI;Persist Security Info=True;User ID=SQLOUI" providerName="System.Data.SqlClient" />
    <add name="gsbEntity" connectionString="metadata=res://*/gdbModel.csdl|res://*/gdbModel.ssdl|res://*/gdbModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.0.50;initial catalog=BDDOUI;persist security info=True;user id=SQLOUI;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>